.header {
    height: 90px;
    width: 100%;
    color: white;
    background-color: #AB2A19;

    display: flex;
    align-items: center;
}

.logoHome {
    margin-left: 20%;
}

.logoShelf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logoBin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.headerRightHome {
    margin-left: 10px;
}

.headerRightShelf {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: #D34735;
}

.headerRightShelf h1 {
    margin-left: 15px;
}

.headerMidBin {
    background-color: #D34735;
    width: 250px;
    height: 100%;
}

.headerMidBin h1 {
    margin-left: 10px;
}

.headerRightBin {
    background-color: #ED6B5A;
    flex-grow: 10;
    height: 100%;
}

.headerRightBin h1 {
    margin-left: 10px;
}